.totals {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	height: 45px;
	margin-bottom: 10px;
}

.correct {
	color: #2f855a;
}

.incorrect {
	color: #9b2c2c;
}

.row {
	display: flex;
	padding: 5px 10px;
}

.current-row {
	background-color: #4fd1c5;
	border: 0.5px solid #234e52;
	border-radius: 5px;
}

.tile {
	border: 1.5px solid black;
	border-radius: 5px;
	margin: 0px 2px;
	background-color: #2b6cb0;
}

.tile-base {
	height: 29px;
	width: 29px;
}

@media (min-width: 768px) {
	.tile-base {
		height: 50px;
		width: 50px;
	}
}

.dim {
	background-color: #4a5568;
}

.right {
	background-color: #2f855a;
}

.wrong {
	background-color: #9b2c2c;
}
